<table>
	<thead>
		<th>Title</th>
		<th>Price</th>
		<th>Category</th>
	</thead>
	<tbody>
<% @products.each do |product| %>
	<%= render partial: 'product', locals: {product: product} %>
		
<% end %>
	</tbody>
</table>
<p><%= link_to('Create a new Product', new_product_path) %></p>